
.gallery-section{
    width: 100%;
    padding: 60px 0;
    background: #fff;
}

.inner-width{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
}

/*iframe
{
    width:100%;
    height:150%;
}*/

.thumb-wrap {
    position: relative;
    padding-bottom: 28%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    height: 0;
    overflow: hidden;
}
.thumb-wrap iframe {
    position: absolute;
    /* top: 0;
     left: 0;*/
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}

.otstup{
    margin-bottom: 2%;
}

.gallery-section h1{
    text-align: center;
    text-transform: uppercase;
    color: #333;
}

.border{
    width: 180px;
    height: 4px;
    background: #0099FF;
    margin: 60px auto;
}

.gallery-section .gallery{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.gallery-section .image{
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
}

.gallery-section .image img{
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.gallery-section .image:hover img{
    transform: scale(1.4) rotate(15deg);
}

@media screen and (max-width:960px) {
    .gallery-section .image{
        flex: 33.33%;
    }
}

@media screen and (max-width:768px) {
    .gallery-section .image{
        flex: 50%;
    }

}

@media screen and (max-width:480px) {
    .gallery-section .image{
        flex: 100%;
    }
}

.video-wrapper{
    position:relative;
    display:inline-block;
}
.video-overlay{
    width:100%;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-image:url("../images/gametag1.png");
    background-size:cover;
}
