.about_block{
    margin: 2rem 0;
    background: rgba(255, 255, 255, 1);
    padding: 5rem 3rem;
    border-radius: 1rem;
    color: #000;
    text-indent: 1.5em;
}
.about_block h1{
    font-family: MontserratBold;
    margin-bottom: 2rem;
}
.about_block h1 span{
    font-size: 2rem;
    font-family: MontserratBoldItalic;
    color: var(--main-color);
}
.about_block p{
    font-family: MontserratMedium;
    font-size: 1.4rem;
}
.about_block p span{
    text-decoration: underline;
}
.about_block p span.red-span{
    color: red;
    font-style: italic;
    font-weight: bold;
}
.about_block img{
    width: 100%;
    float: left;
    border-radius: 2rem;
    margin: 1rem 0;
}
.about_block h3{
    font-family: MontserratBoldItalic;
    color: var(--main-color);
    margin-top: 3rem;
}
.about_block i.arrow{
    font-size: 5rem;
    text-align: center;
    color: forestgreen;
}
.about_icons{
    font-size: 2rem;
    margin-right: 1rem;
    margin-left: -1.5rem;
}
.about_block .fa-trophy{
    color: gold;
}
.about_block .fa-earth-americas{
    color: forestgreen;
}
.about_block .fa-comments{
    color: var(--main-color);
}
.about_block .fa-telegram, .fa-linkedin{
    color: var(--main-color);
    font-size: 3rem;
}
.about_block .contact-me{
    padding: 0;
}
.about_block .contact-me a{
    padding: 0;
    float: left;
    text-decoration: none;
    font-size: 2rem;
    color: var(--orange-color);
    text-align: center;
}
.about_block .contact-me .fa-file-arrow-down{
    color: var(--orange-color);
    font-size: 3rem;
}
