.web_block{
    margin: 4rem 0;
}
.web_block .item{
    margin-bottom: 4rem;
}
.web_block h1.header{
    color: var(--orange-color);
}
.web_block .item_block img{
    width: 100%;
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
}
.web_block .item_block{
    border-radius: 1rem;
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
    margin-top: 2rem;
    height: 100%;
}
.web_block .item_block h2{
    color: var(--main-color);
    font-family: MontserratBold;
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.web_block .item_block i{
    color: var(--orange-color);
    font-size: 10rem;
}
.web_block .item_block .btn-more{
    background-color: var(--orange-color);
    color: var(--white-color);
    font-size: 1rem;
    font-family: MontserratMedium;
    padding: 1rem 1.5rem;
}
.web_block .item_block .btn-more i{
    font-size: 1rem;
    color: var(--white-color);
}
@media (max-width: 470px) {
    .web_block  h1.header{
        font-size: 2.5rem;
    }
}
