:root {
    --main-color: #0099ff;
    --hover-color: #00ccff;
    --white-color: #ffffff;
    --two-color: #efefef;
    --headers-color: red;
    --violet-color: #9a00ad;
    --gray-color: #bab8b8;
    --gray-light-color: #eaeaea;
    --orange-color: orange;
    --green-color: forestgreen;
    --red-color: red;
    --gold-color: gold;
    --black-color: #000;
}
